@font-face
{
    font-family:"digital7";
    src: url('Digital-7Mono.woff');
}

/* The background of the MPC, including CSS3 gradient for metallic sheen */
.mpc-wrapper {
    box-sizing:border-box;
    border: 3px solid black;
    border-radius: 10px;
    height: 100%;
    width: 49%;
    background-color: black;
    background-image:-webkit-linear-gradient(-53deg,rgba(255, 255, 255, .3) 0% , rgba(255, 255, 255, .5) 50% , transparent 98%, transparent 100% ),-webkit-linear-gradient(black 100%, #AAA 20%);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
}

/* The entire display area */
#displayField {
    font-family:"digital7";
    border: 3px solid black;
    color:#dbd2e7;
    border-radius: 10px;
    height: 145px;
    width: 412px;
    margin: 10px;
    background-color: #7859a3;
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5) inset;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5) inset;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5) inset;
}

/* Controls the top row of the display */
#titleDisplay {
    font-size: 40px;
    height: 24%;
    margin: 8px;
    border-bottom: 1px solid #DBD2E7;
    background: url(../images/title-bg.png);
    background-repeat: repeat-x;
    background-position-y: 6px;
}

/* Corrects display issues in child divs */
#titleDisplay>div{
    height:100%;
    float:left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#soundTitle{
    width:74%;
}

#volume{
    width:14%;
}

#padNum{
    width:10%;
    text-align:right;
    float: right !important;
}

/* Controls the middle section of the display */
#waveformDisplay {
    height: 56%;
    font-size: 24px;
    z-index: -1;
    width: 96%;
    margin: 0 auto;
}

#waveformDisplay > div {
    background-color: #7859A3;
    position: relative;
    width: auto;
    height: auto;
    top: -24px;
    text-align: left;
    display: inline-block;
    padding: 2px 3px 1px;
    min-height: 21px;
    min-width: 55px;
}

/* Sets canvas dimensions to fill parent div */
#waveform{
    width:100%;
    height:100%;
}

#waveformDisplay > div#soundPos {
    float: left;
    border-radius: 0 3px 0 0;
    width: 46px;
    min-width: 0;
    padding: 2px 4px 1px 0;
    text-align: center;
}
#waveformDisplay > #soundLength {
    float: right;
    border-radius: 3px 0 0 0;
}

/* The DOOR3 logo */
#logo{
    color: white;
    background: url(../images/logo-white.png) no-repeat 0 0;
/*    position: relative;
    top: 0;*/
    float: left;
    margin: 0 10px;
    width: 127px;
    height: 30px;
    font-size: 24px;
    background-size: 100%;
}

/* The model logo */
#padMonster {
    font-family: impact;
    color: white;
    font-size: 29px;
    float: right;
    color: red;
    font-weight: 100;
    font-style: normal;
}
.lightText {
    font-family: arial;
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    color: white;
}

/* This is the very bottom portion of the display, reserved for the soft button actions */
#modBtnDisplay {
    position:relative;
    top:-24px;
    height:10%;
    width:100%;
    display:table;
    font-size: 12px;
    text-align:center;
    font-family:"digital7";
}

.displayOverflow{
    width:auto;
    display:table-cell;
}

/* The entire bottom two thirds of the MPC, which holds all of the buttons */
#buttonDrawArea {
    position: relative;
    left: 2px;
    margin: 10px;
    width:94%;
    height:69%;
}

/* These are for the three (or five) action buttons, right below the display. Also includes logo and model logo */
#subBtnDrawArea {
    height: 44px;
    width: 100%;
    float: left;
}

/* Common features of all buttons on the MPC, such as color and the shadow */
.btns {
    text-align: center;
    padding: 0;
    border-radius: 2px;
    display: block;
    float: left;
    margin: 7px;
    background: #BDBDBD;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#D4D4D4), to(#BDBDBD));
    -moz-box-shadow: 1px 0px 1px #8A8A8A,0px 1px 1px #ACACAC,2px 1px 1px #8A8A8A,1px 2px 1px #ACACAC,3px 2px 1px #8A8A8A,2px 3px 1px #ACACAC,4px 3px 1px #8A8A8A,3px 4px 1px #ACACAC,5px 4px 1px #8A8A8A,4px 5px 1px #ACACAC,6px 5px 1px #8A8A8A;
    -webkit-box-shadow: 1px 0px 1px #8A8A8A,0px 1px 1px #ACACAC,2px 1px 1px #8A8A8A,1px 2px 1px #ACACAC,3px 2px 1px #8A8A8A,2px 3px 1px #ACACAC,4px 3px 1px #8A8A8A,3px 4px 1px #ACACAC,5px 4px 1px #8A8A8A,4px 5px 1px #ACACAC,6px 5px 1px #8A8A8A;
    box-shadow: 1px 0px 1px #8A8A8A,0px 1px 1px #ACACAC,2px 1px 1px #8A8A8A,1px 2px 1px #ACACAC,3px 2px 1px #8A8A8A,2px 3px 1px #ACACAC,4px 3px 1px #8A8A8A,3px 4px 1px #ACACAC,5px 4px 1px #8A8A8A,4px 5px 1px #ACACAC,6px 5px 1px #8A8A8A;
}

/* These are for all of the action buttons */
.modBtn {
    border-radius: 6px;
    height: 0.5px;
    width: 50px;
    /*display: inline-block;*/
    display: none;
    float: none;
    margin: 0 auto;
    padding:11.5px 0;
    -moz-box-shadow: 1px 0px 1px #8A8A8A,0px 1px 1px #ACACAC,2px 1px 1px #8A8A8A,1px 2px 1px #ACACAC,3px 2px 1px #8A8A8A,2px 3px 1px #ACACAC;
    -webkit-box-shadow: 1px 0px 1px #8A8A8A,0px 1px 1px #ACACAC,2px 1px 1px #8A8A8A,1px 2px 1px #ACACAC,3px 2px 1px #8A8A8A,2px 3px 1px #ACACAC;
    box-shadow: 1px 0px 1px #8A8A8A,0px 1px 1px #ACACAC,2px 1px 1px #8A8A8A,1px 2px 1px #ACACAC,3px 2px 1px #8A8A8A,2px 3px 1px #ACACAC;
}

/* The three action buttons directly below the display */
#softBtns {
    height: 30px;
    /*display: table;*/
    display: none;
    width: 100%;
}

/*#softBtns > a > .modBtn {
    margin: 0px auto;
    height: 12px;
    padding: 0;
    border-radius: 2px;
}*/

/* Handles positioning (and sizing) of the top row of action buttons */
#softBtns a {
    width: 33%;
    text-align: center;
    float: left;
}

/* Pertains to the second row of action buttons, currently hidden */
#modBtns{
    height: 40px;
    width: 100%;
    display: table-cell;
    float: left;
    display: none;

}
#modBtns a{
    width: 50%;
    text-align: center;
    float: left;
}

/* The area reserved for the 16 sound buttons */
#soundBtnDrawArea {
    position: relative;
    width: 100%;
    height: 355px;
    padding: 0;
}
#soundBtnDrawArea.loading .soundBtn.loaded div{
    height: 100%;
    width: 100%;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwLjMwMjQ2OSIgc3RvcC1jb2xvcj0iI2Y1YzEwYSIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0icmdiYSgxODksIDE4OSwgMTg5LCAwLjcpIi8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSIwJSIgeT0iMCUiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InJnYmEoMTg5LCAxODksIDE4OSwgMC43KSIgLz48cmVjdCB4PSItMzElIiB5PSItMTA4LjUwODYlIiB3aWR0aD0iMTYyJSIgaGVpZ2h0PSIzMTcuMDE3MiUiIGZpbGw9InVybCgjZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 184, color-stop(30.2469%, #f5c10a), color-stop(100%, rgba(189, 189, 189, 0.7)));
    background-image: -webkit-radial-gradient(center center, farthest-side circle, #f5c10a 49%, rgba(189, 189, 189, 0.7) 162%);
    background-image: -moz-radial-gradient(center center, farthest-side circle, #f5c10a 49%, rgba(189, 189, 189, 0.7) 162%);
    background-image: -ms-radial-gradient(center center, farthest-side circle, #f5c10a 49%, rgba(189, 189, 189, 0.7) 162%);
    background-image: -o-radial-gradient(center center, farthest-side circle, #f5c10a 49%, rgba(189, 189, 189, 0.7) 162%);
    background-image: radial-gradient(farthest-side circle at center center, #f5c10a 49%, rgba(189, 189, 189, 0.7) 162%);

}

/* The 16 buttons were divided into four rows of four button divs each */
.btnRow {
    width: 100%;
    text-align: justify;
    text-justify: distribute-all-lines;
    vertical-align: top;
    display: table;
}

/* Pertains to the individual sound buttons themselves */
.soundBtn {
    height: 77px;
    width: 80px;
    margin: 0px 8px 9px;
    float: none;
    display: inline-block;
}

/* This is for the hidden div used for the pulsing light effect */
.soundBtn div{
    border-radius:2px;
}

/* When the button is pressed, or held down */
a:active .soundBtn, .soundBtnActive {
    top:3px;
    left:3px;
    position: relative;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwLjMwMjQ2OSIgc3RvcC1jb2xvcj0iI2Y1YzEwYSIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0icmdiYSgxODksIDE4OSwgMTg5LCAwLjcpIi8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSIwJSIgeT0iMCUiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InJnYmEoMTg5LCAxODksIDE4OSwgMC43KSIgLz48cmVjdCB4PSItMzElIiB5PSItMTA4LjUwODYlIiB3aWR0aD0iMTYyJSIgaGVpZ2h0PSIzMTcuMDE3MiUiIGZpbGw9InVybCgjZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 184, color-stop(30.2469%, #f5c10a), color-stop(100%, rgba(189, 189, 189, 0.7)));
    background-image: -webkit-radial-gradient(center center, farthest-side circle, #f5c10a 49%, rgba(189, 189, 189, 0.7) 162%);
    background-image: -moz-radial-gradient(center center, farthest-side circle, #f5c10a 49%, rgba(189, 189, 189, 0.7) 162%);
    background-image: -ms-radial-gradient(center center, farthest-side circle, #f5c10a 49%, rgba(189, 189, 189, 0.7) 162%);
    background-image: -o-radial-gradient(center center, farthest-side circle, #f5c10a 49%, rgba(189, 189, 189, 0.7) 162%);
    background-image: radial-gradient(farthest-side circle at center center, #f5c10a 49%, rgba(189, 189, 189, 0.7) 162%);

    -moz-box-shadow: 1px 0px 1px #8A8A8A,0px 1px 1px #ACACAC,2px 1px 1px #8A8A8A,1px 2px 1px #ACACAC,1px 1px 1px #8A8A8A,1px 1px 1px #ACACAC,1px 1px 1px #8A8A8A,1px 1px 1px #ACACAC,1px 1px 1px #8A8A8A,1px 1px 1px #ACACAC,1px 1px 1px #8A8A8A;
    -webkit-box-shadow:1px 0px 1px #8A8A8A,0px 1px 1px #ACACAC,2px 1px 1px #8A8A8A,1px 2px 1px #ACACAC,1px 1px 1px #8A8A8A,1px 1px 1px #ACACAC,1px 1px 1px #8A8A8A,1px 1px 1px #ACACAC,1px 1px 1px #8A8A8A,1px 1px 1px #ACACAC,1px 1px 1px #8A8A8A;
    box-shadow:1px 0px 1px #8A8A8A,0px 1px 1px #ACACAC,2px 1px 1px #8A8A8A,1px 2px 1px #ACACAC,1px 1px 1px #8A8A8A,1px 1px 1px #ACACAC,1px 1px 1px #8A8A8A,1px 1px 1px #ACACAC,1px 1px 1px #8A8A8A,1px 1px 1px #ACACAC,1px 1px 1px #8A8A8A;
}

/* When the button is released, after the press */
a .soundBtn.playing div{
    height:100%;
    width:100%;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwLjMwMjQ2OSIgc3RvcC1jb2xvcj0iI2Y1YzEwYSIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0icmdiYSgxODksIDE4OSwgMTg5LCAwLjcpIi8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSIwJSIgeT0iMCUiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InJnYmEoMTg5LCAxODksIDE4OSwgMC43KSIgLz48cmVjdCB4PSItMzElIiB5PSItMTA4LjUwODYlIiB3aWR0aD0iMTYyJSIgaGVpZ2h0PSIzMTcuMDE3MiUiIGZpbGw9InVybCgjZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 184, color-stop(30.2469%, #f5c10a), color-stop(100%, rgba(189, 189, 189, 0.7)));
    background-image: -webkit-radial-gradient(center center, farthest-side circle, #f5c10a 49%, rgba(189, 189, 189, 0.7) 162%);
    background-image: -moz-radial-gradient(center center, farthest-side circle, #f5c10a 49%, rgba(189, 189, 189, 0.7) 162%);
    background-image: -ms-radial-gradient(center center, farthest-side circle, #f5c10a 49%, rgba(189, 189, 189, 0.7) 162%);
    background-image: -o-radial-gradient(center center, farthest-side circle, #f5c10a 49%, rgba(189, 189, 189, 0.7) 162%);
    background-image: radial-gradient(farthest-side circle at center center, #f5c10a 49%, rgba(189, 189, 189, 0.7) 162%);
}
ol, ul{
    /*list-style-position: inside;*/
    -webkit-margin-before: 0 !important;
    -webkit-margin-after: 0 !important;
    -webkit-padding-start: 18px;
}
ol.snippet-num, li{
    word-wrap: break-word;
}
/* Tutorial description div */
#tutDescription {
    box-sizing:border-box;
    border: 3px solid black;
    border-radius: 10px;
    height: 100%;
    width: 49%;
    float: right;
    padding: 6px 15px;
    overflow-y: scroll;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.tutHeader{
    text-align: center;
    padding-bottom: 10px;
}
.tutHeader h1{
    color: #00A2E3;
}
a{
    color: #00A2E3;
}
.tutContent{
    height:auto;
    width:auto;
    display:none;
}
/* Surrounds both the MPC and the tutorial divs */
#wrapper{
    width: 920px;
    height: 592px;
    margin: auto;
}
#loadingMsg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    top: 0px;
    text-align: center;
    color: white;
    vertical-align: middle;
    display: table;
}
#loadingText{
    display: table-cell;
    height: 100%;
    margin: auto;
    float: none;
    vertical-align: middle;
    font-family: Impact;
    font-size: 60px;
}